:root {
    --medium: #818386;
    --light: #EEEEEE;
    --accent: #19D3DA;
}

::selection {
    background-color: var(--accent);
    color: white;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--medium);
    margin: 0;
}

a {
    color: var(--accent);
}

p {
    line-height: 1.6;
}

.section {
    padding: 40px 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}

header {
    border-bottom: 1px solid var(--light);
}

.logo {
    display: block;
    width: 240px;
    margin: 0px auto;
}

.container--editorial {
    max-width: 840px;
}

.editorial {
    font-style: italic;
    position: relative;
}

.editorial::before {
    content: "“";
    position: absolute;
    top: -60px;
    left: -50px;
    font-size: 240px;
    line-height: 1;
    opacity: .15;
}

.editorial__name {
    text-align: right;
}

footer .container {
    text-align: center;
}