:root {
	--medium: #818386;
	--light: #eeeeee;
	--accent: #19d3da;
}

::selection {
	background-color: var(--accent);
	color: white;
}

body {
	font-family: "Lato", sans-serif;
	color: var(--medium);
	margin: 0;
}

a {
	color: var(--accent);
}

p {
	line-height: 1.6;
}

.section {
	padding: 40px 20px;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0px auto;
}

header {
	border-bottom: 1px solid var(--light);
}

.logo {
	display: block;
	width: 240px;
	margin: 0px auto;
}

.container--editorial {
	max-width: 840px;
}

.editorial {
	font-style: italic;
	position: relative;
}

.editorial::before {
	content: "“";
	position: absolute;
	top: -60px;
	left: -50px;
	font-size: 240px;
	line-height: 1;
	opacity: 0.15;
	z-index: -1;
}

.editorial__name {
	text-align: right;
}

.issues__heading {
	font-size: 40px;
}

.issues {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 32px;
}

.issue__card {
	background-color: var(--light);
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	overflow: hidden;
	justify-content: space-between;
	perspective: 1000px;
	perspective-origin: left center;
}

.issue__cover {
	display: block;
	border-radius: 6px;
	height: 240px;
	align-self: center;
	margin: 32px;
	transition: transform ease-in-out 0.3s;
	z-index: 1;
}
.issue__cover--bonus {
	position: absolute;
	z-index: 0;
	transform: scale(0.95) translateX(20px);
}

.issue__card:hover .issue__cover {
	transform: scale(1.06) rotateY(-20deg);
}

.issue__card:hover .issue__cover--bonus {
	transform: scale(1) translateX(60px);
}

.issue__cta {
	background-color: var(--accent);
	color: white;
	text-align: center;
	padding: 20px;
	font-weight: bold;
}

footer .container {
	text-align: center;
}
