:root {
	--color-foreground: #202020;
	--color-foreground-secondary: #4a4a4a;
	--color-background: #fcfcfc;
	--color-background-secondary: #ededed;
	--color-border: #fdfdfd;
	--color-accent: hsl(35, 67%, 67%);
	--color-accent-dark: hsl(35, 67%, 57%);
	--color-accent-light: hsl(35, 67%, 77%);
}

/* selection */
::selection {
	color: var(--color-background);
	background-color: var(--color-accent-light);
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Crimson Text', serif;
	color: var(--color-foreground);
	background-color: var(--color-background);
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: 'Crimson Pro', serif;
	font-weight: 900;
	margin: 0;
}

:is(header, footer, section) {
	padding-inline: 3rem;

	@media (max-width: 768px) {
		padding-inline: 1.5rem;
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.section-title {
	font-size: 12rem;
	line-height: 1;
	position: absolute;
	bottom: calc(100% - 2.3rem);
	color: var(--bg-color);
	user-select: none;
}