---
import Layout from '../layouts/Layout.astro';
import Issues from '../components/Issues.astro';
---
<Layout description="A Design Magazine Brasil é uma publicação independente dedicada ao design, cultura visual e criatividade no Brasil.">
	<section>
		<div class="container editorial">
			<div class="editorial__content">
				<p>A Design Magazine Brasil foi uma revista brasileira que falava não apenas sobre as várias áreas do
					design, mas também sobre áreas tangentes, como arquitetura, arte e tecnologia.</p>
				<p>Tinhamos como objetivo trazer conteúdo de qualidade e de forma acessível. Enquanto esteve no ar ela
					contou com diversos colaboradores e parceiros que ajudaram nessa missão. Espero que tenhamos ajudado
					estudantes e profissionais durante esse tempo.</p>
				<p>Foi um prazer fazer parte dessa jornada com todos vocês.</p>
			</div>
			<div class="editorial__name">
				Lucas Fernandes, Diretor
			</div>
		</div>
	</section>

	<Issues />
</Layout>

<style>
	.editorial {
		font-size: 1.5rem;
		margin-bottom: 2rem;
		max-width: 64ch;
		text-wrap: pretty;
		position: relative;

		&::before{
			content: "“";
			position: absolute;
			font-size: 16rem;
			opacity: 0.1;
			top: -6rem;
			left: -3rem;
			font-family: 'Crimson Pro', serif;
		}

		@media (max-width: 768px) {
			font-size: 1.25rem;
			margin-top: 6rem;
			max-width: 100%;

			&::before{
				font-size: 12rem;
				top: -4rem;
				left: -2rem;
			}
		}
	}

	.editorial__content {
		margin-bottom: 1.5rem;
	}

	.editorial__name {
		text-align: right;

		&::before {
			content: "― ";
		}
	}
</style>
