---
---

<footer>
	<div class="container">
		<p>Design Magazine Brasil © 2013 - 2016</p>
		<p>Criada por <a href="https://lucasfads.com" target="_blank" rel="noopener">Lucas Fads</a></p>
	</div>
</footer>

<style>
	footer {
		padding-block: 2rem;
		text-align: center;

		p {
			margin: 0.25rem 0;
		}

		a {
			font-weight: 900;
			color: var(--color-accent-dark);
			text-decoration: none;
			transition: color 0.3s ease;

			&:hover {
				color: var(--color-accent);
			}
		}
	}
</style>
