---
import Logo from '../assets/dmbr_logo.svg';
---
<header>
	<div class="container">
		<a href="/" class="logo">
			<Logo />
		</a>
	</div>
</header>

<style>
	header {
		padding-block: 4rem;
		margin-bottom: 2rem;
		position: relative;
		z-index: 1;
	}

	.logo {
		max-width: 240px;
		display: block;
		margin-inline: auto;

		svg {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	@media (min-width: 768px) {
		
	}