---
import { getCollection, type CollectionEntry } from "astro:content";

const allIssues = await getCollection("issues")
	.then((issues) => issues.sort((a, b) => {
		return Number(b.data.number) - Number(a.data.number);
	}))
	.catch((err) => {
		console.error(err);
		return [];
	});

const issuesByYear = allIssues.reduce<Record<string, CollectionEntry<'issues'>[]>>((acc, issue) => {
	const year = issue.data.year;
	if (!acc[year]) {
		acc[year] = [];
	}
	acc[year].push(issue);
	return acc;
}, {});

---

<section>
	<div class="container">
		<h2>Edicões Publicadas</h2>
		<ul>
			{Object.keys(issuesByYear).sort((a, b) => Number(b) - Number(a)).map((year) => (
				<li>
					<h3>{year}</h3>
					<ul>
						{issuesByYear[year].map((issue) => (
							<li>
								<a href={`/issues/${issue.data.number}/`}>
									Edição {issue.data.number} - {issue.data.title}
								</a>
							</li>
						))}
					</ul>
				</li>
			))}
		</ul>
	</div>
</section>