---
import '@fontsource/crimson-pro/400.css';
import '@fontsource/crimson-pro/600.css';
import '@fontsource/crimson-pro/900.css';
import '@fontsource/crimson-text/400.css';
import '@fontsource/crimson-text/600.css';
import '@fontsource/crimson-text/700.css';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
// ../assets/issue16.jpeg
// import issue 16 as image
import HeaderBackground from '../assets/issue16.jpeg';
import { Image } from 'astro:assets';


---

<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Design Magazine Brasil</title>
</head>
<body>
	<Image src={HeaderBackground} width="1920" alt="Header Background" class="header-background" />
	<Header />
	<main>
		<slot />
	</main>
	<Footer />
</body>
</html>

<style>
	.header-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 24rem;
		object-fit: cover;
		-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
		mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 0.15;
		user-select: none;
	}
</style>